body {
    background-color: gray;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.horizontal-list {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.centered-list {
    justify-content: center;
}

.horizontal-list-element {
    padding: 10px;
    background-color: darkgray;
    display: flex;
    align-items: center;
}

.navbar-brand {
    text-align: center;
    margin: 0;
}

.sort-form {
    margin: 0;
}

.sort-select {
    min-width: 140px;
}

.sort-item {
    margin-left: auto;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
}

.kachel {
    background-color: darkgray;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 90%;
    height: 90%;
}

.kachel-img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.kachel-content {
    padding: 10px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.detail-container {
    background-color: gray;
}
